@import model._
@(userForm: Form[NU])(implicit messages: MessagesProvider, flash: Flash, r: RequestHeader)

@import helper._



@main(Messages("user.form")){
  <h2>@Messages("user.form")</h2>

  @form(routes.UserController.save()){
    <fieldset>
      <legend>
      @Messages("name", Messages("email"))
      </legend>
      @inputText(userForm("name"))
      @inputText(userForm("email"))
      </fieldset>
    <p><input type="submit" class="btn-primary" value='@Messages("user.new.submit")'></p>
  }
}
